/* LESS Document */
/*My Variables*/
//colors
@white: #FFF;
@black: #000;
@dark:darken(@brand-primary,33%);
@brand-dark: darken(@brand-primary, 15%);
@brand-light: lighten(@brand-primary, 15%);

@border_radius:  @line-height-computed;

@margin:@line-height-computed*2;
@my_padding: @line-height-computed;
@navbar-height: 100px;