/* LESS Document */
@import "../../3/darkly/variables.less";
@import "../../3/darkly/bootswatch.less";
@import "../../3/bower_components/bootstrap/less/bootstrap.less";

.brand-logo img{max-height: 100px;margin: 0 auto}
.nav-header{font-size:48px;font-weight: 600}
.nav-header .phone{margin-right: 20px}
.navbar-center{width: 25%;margin: 0 auto}